.main-container {
  .container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .btn {
    background-color: rgba(79, 0, 250, 0.79);
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    color: #fafafa;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: background-color 650ms;

    &:hover {
      background-color: #3700ad;
    }
  }

  @media screen and (min-width: 350px) {
    .main-message {
      transform: translateY(40%);
    }
  }

  @media screen and (min-width: 470px) {
    .cta::before {
      height: 9.4rem;
      background: url("./img/wave-medium.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .testimonials::before {
      height: 9.4rem;
      background: url("./img/wave-medium-reversed.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .center-content::before {
      height: 9.4rem;
      background: url("./img/wave-medium.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  @media screen and (min-width: 600px) {
    .card-container {
      .card {
        flex-direction: row;
        max-width: 75rem;

        .img-data {
          flex-basis: 40%;
          height: unset;
        }
        .manage-btns {
          transform: translateX(-100%);
          transition: transform 0.5s;
        }
        .workout-data {
          flex-basis: 60%;
        }
        &:hover .manage-btns {
          transform: translateX(0);
        }
      }
    }
  }
  @media screen and (min-width: 700px) {
    header {
      height: 8rem;

      .nav {
        .nav-brand {
          width: 3.5rem;
        }
        .nav-list {
          width: initial;
          height: initial;
          background-color: transparent;
          position: initial;
          top: initial;
          right: initial;
          display: flex;
          flex-direction: row;
          transition: initial;
        }
        .menu-icons {
          display: none;
        }
        .nav-item {
          margin: 0 2.5rem;
        }
        .nav-link {
          color: #fafafa;
          position: relative;
          font-size: 1.3rem;
        }

        .nav-link::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -0.5rem;
          background-color: #3700ad;
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 650ms;
        }
        .nav-link:hover::before {
          transform: scaleX(1);
        }
      }
    }
    .cta {
      height: 60vh;
    }
    .main-message {
      transform: translateY(60%);
    }
    .title-heading {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .cta::before {
      height: 22.7rem;
      background: url("./img/wave-large.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .testimonials::before {
      height: 22.7rem;
      background: url("./img/wave-large-reversed.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .center-content::before {
      height: 22.7rem;
      background: url("./img/wave-large.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  @media screen and (min-width: 1200px) {
    .cta {
      height: 75vh;
    }
  }
}
